.conteiner{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 1580px;
}

@media (max-width: 401px){
    .conteiner{
        height: 1480px;
    }
}