.Link{
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 150px;

    background-color: #3159ff2b;

    margin-top: 50px;
}

.footer div{
    margin-right: 20px;
}

.a svg{
    color: white;

    margin: 0 10px;

    font-size: 40px;
}

@media (max-width: 420px){
    .footer{
        height: 150px;
    }

    .a svg{
        font-size: 30px;
    }
}