.header{

}

.headerContent{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 400px;

    background-color: #e5501e;
}

.headerContent svg{
    font-size: 300px;

    color: white;
}

.waves{
}

.header img{
    margin-right: 50px;
}