.paginationControl{
    display: flex;
    align-items: center;

    margin: 0;
}

.buttons{
    background-color: transparent;

    border: none;
    outline: none;

    cursor: pointer;

    background-color: transparent !important;
    border: none !important;
}

.buttons svg{
    font-size: 20px;

    color: white;
}

@media (max-width: 421px){
    .paginationControl > span{
        margin-top: -5px;
    }
}