@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.pokemonCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 300px;

    margin: 10px;
    border-radius: 10px;

    color: white;

    cursor: pointer;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.221);

    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}

.pokemonCard > img{
    width: 150px;
    height: 150px;

    cursor: pointer;
}

.pokemonCardTop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.pokemonCardTop p, h3{
    margin: 1px;
}

.pokemonCardMediun{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    margin: 7px 0;
}

.pokemonCardMediun p{
    display: flex;
    align-items: center;

    min-width: 50px;
    height: 28px;

    padding: 1px 10px 5px 10px;
    margin: 0 5px;

    background-color: rgba(0, 0, 0, 0.334);
    border-radius: 10px;

    text-align: center;
}

.pokemonCardMediun p img{
    margin-right: 5px;
}

.pokemonCardBottom{
    display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
}

.flexBoxColumn{
	display: flex;
    flex-direction: column;
	align-items: center;	
}

.flexBoxRow{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: auto;
}

.weight svg , .height svg{
    margin: 0 10px;
}

.weight h3 , p {
	margin: 0;	
}

.height h3 , p {
	margin: 0;		
}

.btnMoreInformations{
    	width: 100%;
    	height: 35px;

        background-color: rgba(128, 0, 128, 0.425);
        color: white;

    	border-radius: 0 0 10px 10px;
	    border: none;

        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 15px;

        margin-top: 5px;

        cursor: pointer;
}

.btnMoreInformations svg{
    margin: 0 5px;
}

@media (max-width: 450px){
    .pokemonCard{
        width: 180px;
        height: 180px;

        margin: 10px;
    }

    .pokemonCard img{
        width: 100px;
        height: 100px;
    }

    .pokemonCardTop p{
        font-size: .9em;
    }

    .pokemonCardTop h3{
        font-size: .9em;
    }

    .pokemonCardTop p, h3{
        margin: 2px 0 0 0;
    }

    .pokemonCardMediun{
        display: none;
    }

    .pokemonCardBottom{
        display: none;
    }

    .btnMoreInformations{
        height: 30px;
        font-size: 12px;

        font-weight: bold;
    }
}